Repository beattosetto/beattosetto, pull requests merged in 2021-11, with the labels that each got.

#96 Fix overflow display bug
  beatmap_collections/static/css/index.css
  beatmap_collections/templates/beatmap_collections/collection_page.html
  beatmap_collections/templates/beatmap_collections/index.html
Labels: type:ui-ux, fix from discussion, size/S

#100 Move collection card to reusable snippet
  beatmap_collections/models.py
  beatmap_collections/templates/beatmap_collections/index.html
  beatmap_collections/templates/beatmap_collections/snippets/collection_card.html
  beatmap_collections/templatetags/count_beatmaps.py
  beatmap_collections/tests.py
Labels: frontend, area:collection, type:code-quality, size/L

#98 Add mock-up comment section in collection page.
  beatmap_collections/templates/beatmap_collections/collection_page.html
Labels: frontend, type:ui-ux, size/S, area:collection-comment

#99 Add Actions system and change color scheme from discussion
  .coveragerc
  .gitignore
  actions/__init__.py
  actions/admin.py
  actions/apps.py
  actions/logging.py
  actions/migrations/0001_initial.py
  actions/migrations/0002_actionlog_log.py
  actions/migrations/__init__.py
  actions/models.py
  actions/scripts.py
  actions/static/img/hero-actions.jpg
  actions/static/img/no-log.gif
  actions/templates/actions/actions.html
  actions/tests.py
  actions/urls.py
  actions/views.py
  beatmap_collections/functions.py
  beatmap_collections/static/css/hover.css
  beatmap_collections/static/css/index.css
  beatmap_collections/static/js/index.js
  beatmap_collections/templates/beatmap_collections/base.html
  beatmap_collections/templates/beatmap_collections/index.html
  beatmap_collections/templates/beatmap_collections/snippets/beatmap_card.html
  beatmap_collections/templates/beatmap_collections/snippets/collection_card.html
  beatmap_collections/templatetags/random_heart_emoji.py
  beattosetto/settings.py
  beattosetto/urls.py
  requirements.txt
Labels: backend, type:ui-ux, size/XL, area:action

#102 Added more fields to the Profile model.
  media/cover_list/placeholder.jpg
  users/migrations/0002_auto_20211103_0040.py
  users/migrations/0003_auto_20211103_0044.py
  users/migrations/0004_alter_profile_cover_image.py
  users/migrations/0005_alter_profile_cover_image.py
  users/models.py
Labels: backend, area:profile, size/M

#103 Change infobox to not render content that is blank
  beatmap_collections/templates/beatmap_collections/snippets/beatmap_card.html
Labels: frontend, type:ui-ux, area:collection, fix from discussion, size/XS, area:collection-infobox

#105 Add beatmap approval system
  actions/views.py
  beatmap_collections/models.py
  beatmap_collections/static/css/index.css
  beatmap_collections/static/img/hero-beatmap-approval.jpg
  beatmap_collections/static/img/no-beatmap-approval.gif
  beatmap_collections/templates/beatmap_collections/add_beatmap.html
  beatmap_collections/templates/beatmap_collections/beatmap_approval.html
  beatmap_collections/templates/beatmap_collections/collection_page.html
  beatmap_collections/templates/beatmap_collections/edit_collection.html
  beatmap_collections/templates/beatmap_collections/snippets/beatmap_card_approval.html
  beatmap_collections/tests.py
  beatmap_collections/urls.py
  beatmap_collections/views.py
Labels: area:collection, area:beatmap, size/L, area:collection-manage

#109 Add profile page for list collections from the user
  actions/templates/actions/actions.html
  beatmap_collections/static/css/index.css
  beatmap_collections/templates/beatmap_collections/base.html
  beatmap_collections/templates/beatmap_collections/collection_page.html
  beatmap_collections/templates/beatmap_collections/snippets/beatmap_card.html
  beatmap_collections/templates/beatmap_collections/snippets/beatmap_card_approval.html
  beatmap_collections/templates/beatmap_collections/snippets/collection_card.html
  beatmap_collections/templatetags/round_up.py
  beatmap_collections/templatetags/thousand_seperator.py
  beatmap_collections/tests.py
  beatmap_collections/urls.py
  beatmap_collections/views.py
  users/forms.py
  users/models.py
  users/templates/users/profile.html
  users/templates/users/settings.html
  users/urls.py
  users/views.py
Labels: area:profile, size/L

#111 Add comment view to support comment section
  beatmap_collections/forms.py
  beatmap_collections/migrations/0031_alter_comment_collection.py
  beatmap_collections/models.py
  beatmap_collections/static/css/index.css
  beatmap_collections/templates/beatmap_collections/collection_page.html
  beatmap_collections/views.py
Labels: backend, size/L, area:collection-comment

#112 Add support for osu! profile migration when signed up for website with osu! OAuth
  .coveragerc
  users/signals.py
  users/views.py
Labels: backend, area:account, area:api, area:profile, size/M

#113 Add live beatmap card render on adding beatmap page
  beatmap_collections/functions.py
  beatmap_collections/static/js/live_beatmap_card.js
  beatmap_collections/templates/beatmap_collections/add_beatmap.html
  beatmap_collections/templates/beatmap_collections/snippets/beatmap_card_demo.html
  beatmap_collections/templates/beatmap_collections/snippets/star_rating_color_demo.html
  beatmap_collections/templatetags/convert_datetime.py
  beatmap_collections/templatetags/convert_progress_bar.py
  beatmap_collections/templatetags/convert_to_float.py
  beatmap_collections/templatetags/length_format.py
  beatmap_collections/urls.py
  beatmap_collections/views.py
  beatmap_collections/views_api.py
  users/templates/users/profile.html
Labels: frontend, area:beatmap, size/L

#115 Fix Blank beatmap entry
  beatmap_collections/views.py
Labels: backend, area:collection, area:beatmap, size/S

#117 Fix login signal error when user first signed up with osu! OAuth
  users/migrations/0006_profile_oauth_first_migrate.py
  users/models.py
  users/signals.py
Labels: backend, area:account, area:profile, size/M

#119 Increased some character fields' limits to 1000 in the Beatmap model.
  beatmap_collections/migrations/0032_auto_20211104_1628.py
  beatmap_collections/models.py
Labels: backend, area:database, area:beatmap, priority:medium, size/M, type:reliability

#120 Make delete user possible
  beatmap_collections/migrations/0032_auto_20211104_0923.py
  beatmap_collections/models.py
  beatmap_collections/tests.py
  beatmap_collections/views.py
Labels: size/M

#121 User is null in comment
  beatmap_collections/migrations/0033_merge_0032_auto_20211104_0923_0032_auto_20211104_1628.py
  beatmap_collections/views.py
Labels: backend, area:database, size/S, type:bug

#122 Fix value too long for type character varying and improve logging and Actions error handle
  actions/logging.py
  actions/migrations/0003_alter_actionlog_name.py
  actions/models.py
  actions/scripts.py
Labels: backend, size/L, type:reliability, type:bug, area:action

#123 Second attempt to fix value too long for type character varying
  actions/migrations/0004_auto_20211105_0423.py
  actions/models.py
Labels: area:database, size/S, type:reliability, type:bug, area:action

#124 Add manage beatmap page
  beatmap_collections/forms.py
  beatmap_collections/static/img/hero-manage-beatmap.jpg
  beatmap_collections/static/img/no-beatmap-manage.gif
  beatmap_collections/templates/beatmap_collections/collection_page.html
  beatmap_collections/templates/beatmap_collections/manage_beatmap.html
  beatmap_collections/templates/beatmap_collections/snippets/beatmap_card.html
  beatmap_collections/urls.py
  beatmap_collections/views.py
Labels: backend, area:collection, size/L, area:collection-manage

#125 Add more tests about adding beatmap
  beatmap_collections/templatetags/__init__.py
  beatmap_collections/tests.py
Labels: size/L, type:testing

#127 Added tests for settings view and profile view.
  beatmap_collections/tests.py
  users/tests.py
Labels: backend, size/M, type:testing

#129 Include inline admin in collection model
  beatmap_collections/admin.py
Labels: size/S

#159 Actions improvement and UX improvement when Actions is running
  actions/models.py
  actions/templates/actions/actions.html
  actions/urls.py
  actions/views.py
  beatmap_collections/static/img/beatto-chan.png
  beatmap_collections/static/js/index.js
  beatmap_collections/templates/beatmap_collections/base.html
  beatmap_collections/templatetags/update_beatmaps_running.py
Labels: type:ui-ux, size/L, type:reliability, area:action

#161 Add mapper profile picture to infobox
  beatmap_collections/static/css/index.css
  beatmap_collections/templates/beatmap_collections/snippets/beatmap_card.html
  beatmap_collections/templates/beatmap_collections/snippets/beatmap_card_demo.html
Labels: frontend, size/M, area:beatmap-infobox

#164 Fix the profile image link on HTTP instead of HTTPS
  beatmap_collections/templates/beatmap_collections/snippets/beatmap_card.html
  beatmap_collections/templates/beatmap_collections/snippets/beatmap_card_demo.html
Labels: frontend, type:code-quality, size/XS, type:reliability

#165 Fix line layout is broken when beatmap source is too long and refactor some inline style to CSS class
  beatmap_collections/static/css/index.css
  beatmap_collections/templates/beatmap_collections/snippets/beatmap_card.html
  beatmap_collections/templates/beatmap_collections/snippets/beatmap_card_approval.html
  beatmap_collections/templates/beatmap_collections/snippets/beatmap_card_demo.html
Labels: frontend, type:ui-ux, area:beatmap, type:code-quality, size/M, type:bug

#160 Refactor conditions to dictionary lookup
  beatmap_collections/constants.py
  beatmap_collections/functions.py
  beatmap_collections/models.py
  beatmap_collections/templates/beatmap_collections/snippets/beatmap_card.html
  beatmap_collections/templates/beatmap_collections/snippets/beatmap_card_demo.html
  beatmap_collections/templatetags/__init__.py
  beatmap_collections/templatetags/beatmap_constants.py
Labels: type:code-quality, size/L

#166 Fix line bug in beatmap artist when the artist name is longer than one line
  beatmap_collections/static/css/index.css
Labels: frontend, type:ui-ux, area:beatmap, size/XS, type:bug

#167 Add Social sharing and fix collection text in profile page
  .github/dependabot.yml
  beatmap_collections/static/css/index.css
  beatmap_collections/templates/beatmap_collections/collection_page.html
  beattosetto/settings.py
  requirements.txt
  users/templates/users/profile.html
Labels: frontend, size/M

#168 Add collection tag system
  beatmap_collections/admin.py
  beatmap_collections/forms.py
  beatmap_collections/migrations/0034_auto_20211108_1921.py
  beatmap_collections/models.py
  beatmap_collections/static/img/hero-collections-by-tag.jpg
  beatmap_collections/static/img/no-tag-collection.gif
  beatmap_collections/templates/beatmap_collections/collections_by_tag.html
  beatmap_collections/templates/beatmap_collections/create_collection.html
  beatmap_collections/templates/beatmap_collections/edit_collection.html
  beatmap_collections/templates/beatmap_collections/snippets/collection_card.html
  beatmap_collections/tests.py
  beatmap_collections/urls.py
  beatmap_collections/views.py
  beattosetto/settings.py
  requirements.txt
Labels: frontend, backend, area:collection, size/L, area:collection-tag

#169 Fix on code quality based on Pylint
  .pylintrc
  actions/admin.py
  actions/apps.py
  actions/logging.py
  actions/models.py
  actions/scripts.py
  actions/urls.py
  actions/views.py
  users/admin.py
  users/apps.py
  users/forms.py
  users/models.py
  users/signals.py
  users/tests.py
  users/urls.py
  users/views.py
Labels: type:code-quality, size/L

#173 Fix API request has 404 error when no text on beatmap ID field
  beatmap_collections/static/js/live_beatmap_card.js
  beatmap_collections/views_api.py
Labels: backend, area:api, area:beatmap, size/S, type:bug

#174 Fix the bug on demo player
  beatmap_collections/templates/beatmap_collections/add_beatmap.html
  beatmap_collections/templates/beatmap_collections/beatmap_approval.html
  beatmap_collections/templates/beatmap_collections/collection_page.html
  beatmap_collections/templates/beatmap_collections/manage_beatmap.html
Labels: frontend, type:code-quality, size/S, type:bug

#176 Added a dummy user fixture.
  beattosetto/fixtures/users.json
Labels: type:deployment, area:account, priority:low, size/XL

#175 Create embeddable collection card and beatmap card
  beatmap_collections/static/css/index.css
  beatmap_collections/templates/beatmap_collections/beatmap_embed.html
  beatmap_collections/templates/beatmap_collections/collection_embed.html
  beatmap_collections/templates/beatmap_collections/collection_page.html
  beatmap_collections/templates/beatmap_collections/snippets/beatmap_card.html
  beatmap_collections/templates/beatmap_collections/snippets/collection_card.html
  beatmap_collections/urls.py
  beatmap_collections/views.py
  beattosetto/settings.py
Labels: area:collection, area:beatmap, size/L

#179 Check quality by use pylint.
  .pylintrc
  actions/tests.py
  beatmap_collections/admin.py
  beatmap_collections/apps.py
  beatmap_collections/constants.py
  beatmap_collections/forms.py
  beatmap_collections/functions.py
  beatmap_collections/templatetags/__init__.py
  beatmap_collections/templatetags/convert_beatmap_stat.py
  beatmap_collections/templatetags/convert_datetime.py
  beatmap_collections/templatetags/convert_progress_bar.py
  beatmap_collections/templatetags/convert_star_rating.py
  beatmap_collections/templatetags/convert_to_float.py
  beatmap_collections/templatetags/length_format.py
  beatmap_collections/templatetags/random_heart_emoji.py
  beatmap_collections/templatetags/round_up.py
  beatmap_collections/templatetags/thousand_seperator.py
  beatmap_collections/templatetags/update_beatmaps_running.py
  beatmap_collections/tests.py
  beatmap_collections/urls.py
  beatmap_collections/views.py
  beatmap_collections/views_api.py
Labels: size/L

#181 Make profile picture round
  beatmap_collections/static/css/index.css
  users/templates/users/profile.html
Labels: size/M

#183 Add listing page and add new option to make collection can more customized
  beatmap_collections/forms.py
  beatmap_collections/functions.py
  beatmap_collections/migrations/0035_auto_20211112_2044.py
  beatmap_collections/models.py
  beatmap_collections/templates/beatmap_collections/add_beatmap.html
  beatmap_collections/templates/beatmap_collections/base.html
  beatmap_collections/templates/beatmap_collections/beatmap_embed.html
  beatmap_collections/templates/beatmap_collections/collection_page.html
  beatmap_collections/templates/beatmap_collections/create_collection.html
  beatmap_collections/templates/beatmap_collections/edit_collection.html
  beatmap_collections/templates/beatmap_collections/index.html
  beatmap_collections/templates/beatmap_collections/listing.html
  beatmap_collections/templates/beatmap_collections/snippets/beatmap_card.html
  beatmap_collections/templates/beatmap_collections/snippets/beatmap_card_approval.html
  beatmap_collections/tests.py
  beatmap_collections/urls.py
  beatmap_collections/views.py
  users/templates/users/profile.html
Labels: type:ui-ux, area:home, area:collection, size/L, area:listing

#196 Fix osu! username on profile is not using the variable name
  users/templates/users/profile.html
Labels: frontend, area:profile, fix from discussion, size/XS, type:bug

#198 Make image display not stretched out
  beatmap_collections/static/css/index.css
  beatmap_collections/templates/beatmap_collections/collection_page.html
  beatmap_collections/templates/beatmap_collections/edit_collection.html
  users/templates/users/profile.html
  users/templates/users/settings.html
Labels: frontend, type:ui-ux, size/S

#199 Add go to admin button to collection page and remove random system
  beatmap_collections/templates/beatmap_collections/collection_page.html
  beatmap_collections/templates/beatmap_collections/index.html
  beatmap_collections/views.py
Labels: backend, area:collection, type:performance, size/M, type:reliability

#203 Fix duplicate username change lead to 500 error
  users/templates/users/settings.html
  users/views.py
Labels: backend, area:profile, size/XS, type:bug

#206 Add Member page
  beatmap_collections/static/css/team.css
  beatmap_collections/static/img/team/helloyeew-background.jpg
  beatmap_collections/static/img/team/helloyeew-background.png
  beatmap_collections/static/img/team/helloyeew-profile.jpeg
  beatmap_collections/static/img/team/hero-team.jpg
  beatmap_collections/static/img/team/hero-team.png
  beatmap_collections/static/img/team/jub-background.jpg
  beatmap_collections/static/img/team/jub-profile.jpg
  beatmap_collections/static/img/team/pontakorn-background.jpg
  beatmap_collections/static/img/team/pontakorn-profile.jpg
  beatmap_collections/static/img/team/rally-background.jpg
  beatmap_collections/static/img/team/rally-profile.jpg
  beatmap_collections/static/img/team/saint-background.jpg
  beatmap_collections/static/img/team/saint-profile.jpg
  beatmap_collections/templates/beatmap_collections/base.html
  beatmap_collections/templates/beatmap_collections/team.html
  beatmap_collections/urls.py
  beatmap_collections/views.py
Labels: frontend, fix from discussion, size/L

#202 Add Pagination
  beatmap_collections/static/css/index.css
  beatmap_collections/templates/beatmap_collections/collection_page.html
  beatmap_collections/templates/beatmap_collections/collections_by_tag.html
  beatmap_collections/templates/beatmap_collections/listing.html
  beatmap_collections/tests.py
  beatmap_collections/views.py
  templates/snippets/paginator.html
  users/templates/users/profile.html
  users/tests.py
  users/views.py
Labels: frontend, backend, type:ui-ux, area:home, area:collection, area:profile, size/L, area:listing

#208 Delete collection feature
  beatmap_collections/templates/beatmap_collections/collection_page.html
  beatmap_collections/tests.py
  beatmap_collections/urls.py
  beatmap_collections/views.py
Labels: frontend, backend, area:collection, size/L, area:collection-manage

#211 Add edit and delete comment and fix some UX
  beatmap_collections/forms.py
  beatmap_collections/migrations/0037_alter_beatmapentry_comment.py
  beatmap_collections/migrations/0038_alter_beatmapentry_comment.py
  beatmap_collections/migrations/0039_alter_beatmapentry_comment.py
  beatmap_collections/models.py
  beatmap_collections/static/img/hero/30.jpg
  beatmap_collections/templates/beatmap_collections/collection_page.html
  beatmap_collections/templates/beatmap_collections/collections_by_tag.html
  beatmap_collections/templates/beatmap_collections/edit_beatmap_comment.html
  beatmap_collections/templates/beatmap_collections/edit_comment.html
  beatmap_collections/templates/beatmap_collections/index.html
  beatmap_collections/templates/beatmap_collections/listing.html
  beatmap_collections/templates/beatmap_collections/manage_beatmap.html
  beatmap_collections/templates/beatmap_collections/team.html
  beatmap_collections/tests.py
  beatmap_collections/urls.py
  beatmap_collections/views.py
Labels: type:ui-ux, area:home, size/L, type:reliability, area:collection-comment, area:collection-manage

#214 Fix margin CSS make the button stack on each other
  beatmap_collections/static/css/index.css
  beatmap_collections/templates/beatmap_collections/snippets/beatmap_card_approval.html
  beatmap_collections/templates/beatmap_collections/snippets/beatmap_card_demo.html
Labels: frontend, type:ui-ux, area:beatmap, size/S, type:bug

#215 Fix the beatmap card show white background on beatmap that not have background
  .pylintrc
  actions/scripts.py
  beatmap_collections/functions.py
  beatmap_collections/migrations/0040_auto_20211120_1935.py
  beatmap_collections/migrations/0041_auto_20211120_1951.py
  beatmap_collections/migrations/0042_auto_20211120_2016.py
  beatmap_collections/models.py
  beatmap_collections/static/img/default-beatmap.png
  beatmap_collections/templates/beatmap_collections/snippets/beatmap_card_demo.html
  media/default_beatmap_cover.jpg
  media/default_beatmap_cover.png
  media/default_beatmap_thumbnail.jpg
  media/default_beatmap_thumbnail.png
  templates/snippets/paginator.html
  users/templates/users/profile.html
Labels: backend, area:database, area:api, area:beatmap, size/L, type:reliability, type:bug

#218 Fix fixture reference the rating
  beattosetto/fixtures/users.json
Labels: size/L

#216 Add E2E test on login and collection creation
  beatmap_collections/functions.py
  beatmap_collections/templates/beatmap_collections/base.html
  beatmap_collections/templates/beatmap_collections/collection_page.html
  beatmap_collections/templates/beatmap_collections/index.html
  requirements.txt
  test_e2e/test_e2e.py
Labels: size/L, type:testing

#219 Show `show all` button only when the collection is more than four
  beatmap_collections/static/js/index.js
  beatmap_collections/templates/beatmap_collections/index.html
  beatmap_collections/views.py
Labels: type:ui-ux, area:home

#223 Add more reliability on update script and add background modal on infobox
  actions/scripts.py
  beatmap_collections/functions.py
  beatmap_collections/migrations/0043_beatmap_beatmap_cover.py
  beatmap_collections/models.py
  beatmap_collections/static/css/index.css
  beatmap_collections/templates/beatmap_collections/snippets/beatmap_card.html
  beatmap_collections/templates/beatmap_collections/snippets/beatmap_card_demo.html
Labels: area:api, size/L, type:reliability, area:action, area:beatmap-infobox

#224 Fix comment limit length in database is not same with in form
  beatmap_collections/migrations/0044_alter_beatmapentry_comment.py
  beatmap_collections/models.py
Labels: size/S, type:reliability, area:collection-comment

#225 Fix more sweden bug
  beatmap_collections/forms.py
  beatmap_collections/templates/beatmap_collections/collection_page.html
Labels: size/XS, type:reliability, area:collection-comment

#226 Limit comment box length in edit comment page
  beatmap_collections/templates/beatmap_collections/edit_comment.html
Labels: size/XS, type:reliability, area:collection-comment

#227 Fix text wrap is not actually wrap and line breaking on comment
  beatmap_collections/static/css/index.css
  beatmap_collections/templates/beatmap_collections/collection_page.html
  beatmap_collections/templates/beatmap_collections/edit_comment.html
Labels: type:ui-ux, size/XS, area:collection-comment

#230 Add more reliability on some case
  beatmap_collections/views.py
Labels: backend, area:collection, area:beatmap, size/S, type:reliability, area:collection-comment

#231 Add tag to collection page header
  beatmap_collections/templates/beatmap_collections/collection_page.html
Labels: frontend, type:ui-ux, size/XS, area:collection-tag
